<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12">
    <h2>Uh Oh!</h2>
    <p>We're really sorry but there was an issue submitting your information.</p>
    <%= link_to "Start Over", new_family_path, class: "btn btn-primary" %>
  </div>
</div>
