<h1>Get Started</h1>
<p>Below is a list of simple planning center actions you can take.</p>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">New Family</h2>
        <p class="card-text">A form to create a new family in your Planning Center account.</p>
        <%= link_to "Create a Family", new_family_url, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
