/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */

html {
  font-size:16px
}

body {
  font-family:  "Gotham SSm A", "Gotham SSm B", -apple-system, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 1.5rem;
  background-color: #f9f9f9;
}

.hide {
  display:none !important;
}

.card {
  margin-bottom: 30px;
}

.card-body {
  background: #ffffff;
}

.datepicker {
  min-height: 40px;
}

.logo {
  display: block;
  margin: 0 auto 1.5rem;
  width: 100px;
}

.btn {
  border-radius: 1.25rem;
}


/* @media only screen and (max-width: 480px) { */
  .col-md-12, .col-md-6, .col-md-4 {
    margin-bottom: 0.75rem;
  }
/* } */
